* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

p {
    color: #938d85;
    margin: 0;
}

.base {
    background-color: #24242c;
}

.panel {
    background-color: #2c3034;
    border-color: #34383c !important;
}

.p-top {
    border-top: 1px solid;
}

.p-bot {
    border-bottom: 1px solid;
}

.p-right {
    border-right: 1px solid;
}

.p-left {
    border-left: 1px solid;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.vw100 {
    width: 100vw;
}

.vr {
    border-left: 1px solid #938d85;
    height: 30px
}

.vh100 {
    height: 100vh;
}

.white {
    color: #ffffff;

}

.light-text {
    color: #938d85;
}

p {
    font-family: 'Dosis';
    color: #938d85;
}

.hi-text {
    color: #f4d442;
}

.hi-bg {
    background-color: #f4d442;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.rwthin {
    font-family: 'Raleway';
    font-weight: 200;
}

.rwnorm {
    font-family: 'Raleway';
    font-weight: 500;
}

.rwblack {
    font-family: 'Raleway';
    font-weight: 900;
}

.dosis {
    font-family: 'Dosis';
}


.sym {
    font-family: 'Symtext', 'IESymtext';
}

#sidenav {
    width: 300px;
    height: calc(100vh - 61px);
    position: fixed;
}

#smallnav {
    width: 65px;
    height: calc(100vh - 61px);
    position: fixed;
}


.pro-img {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    background-size: 75px;
    background-size: cover;
}

.pro-img-small {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-size: 50px;
    background-size: cover;
}

.a-link {
    text-decoration: none !important;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #f4d442;
}

.nav-btn {
    height: 75px;
    width: 100%;
    border-color: #34383c !important;
    border-left: 3px solid;
}

.nav-btn-active {
    background-color: #34383c;
    border-color: #f4d442 !important;
    border-left: 3px solid;
}

.nav-btn:hover {
    text-decoration: none !important;
    background-color: #34383c;
    border-color: #f4d442 !important;
    border-left: 3px solid;
}

.nav-btn:hover i {
    color: #f4d442;
}

.nav-btn:hover p {
    color: #fff;
    text-decoration: none;
    text-emphasis: none;
}

.nav-btn i {
    background-color: transparent !important;
    border-style: none !important;
    text-decoration: none !important;
    color: #938d85;
    font-size: 16pt;
}

#close-btn {
    width: 300px;
    border-top: solid 1px;
    border-color: #34383c !important;

}

#close-btn:hover {
    color: #f4d442 !important;
}

#open-btn {
    width: 65px;
    border-top: solid 1px;
    border-color: #34383c !important;
}


.button {
    background-color: transparent;
    padding: 5pt;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 18pt;
    text-align: center;

}

.button:hover {
    color: #f4d442;
    border-color: #f4d442;
    text-decoration: none;
    transform: scale(1.1);
    transition: 1000ms;
    cursor: pointer;
}

#open-btn:hover {
    color: #f4d442 !important;
}

#title-panel {
    margin-left: -20px;
    width: calc(100vw - 65px);
    transition: 800ms;
}

#content-panel {
    margin-top: 61px;
    margin-left: 300px;
    width: calc(100vw - 300px);
    height: calc(100vh - 61px);
    padding: 20px;
    padding-top: 0px;
    transition: 800ms;
    overflow: auto;
    overflow-x: hidden;

}

.mg-sm {
    margin-left: 65px !important;
    width: calc(100vw - 65px) !important;
}

.newWidth {
    width: calc(100vw - 65px) !important;
}

.conmg {
    margin: 0 !important;
    margin-top: 20px !important;
}

.mgt {
    margin-top: 20px;
}

.space {
    height: 100px;
}

#slide-container {
    width: 100%;
    min-height: 300px;
    border-style: dashed;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
}

.slide-item {
    width: 200px;
    position: relative;
    overflow: hidden;

}

.slide-item .hover-item {
    position: absolute;
    top: 0px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 500px;
    transition: 0.5s ease;

}

.slide-item .hover-item:hover {
    padding-top: 0px;
    cursor: pointer;
}

.slide-item .hover-item i {
    font-size: 120pt;
    margin-top: 10%;

}