/* Fonts */
@font-face {
    font-family: Raleway;
    src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: Symtext;
    src: url(Symtext.ttf);
}

@font-face {
    font-family: SymtextIE;
    src: url(Symtext.woff2);
}

@font-face {
    font-family: Dosis;
    src: url(Dosis-Regular.otf);
}

.dosis {
    font-family: 'Dosis';
}

p {
    font-family: 'Dosis';
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
    font-weight: 200;
}

.sym {
    font-family: 'Symtext', 'SymtextIE';
}