/* Fonts */
@font-face {
    font-family: Raleway;
    src: url(Raleway-Thin.ttf);
}

/* Fonts */
@font-face {
    font-family: Exo2;
    src: url(Exo2-Regular.otf);
}

@font-face {
    font-family: Symtext;
    src: url(Symtext.ttf);
}

@font-face {
    font-family: SymtextIE;
    src: url(Symtext.woff2);
}

@font-face {
    font-family: Dosis;
    src: url(Dosis-Regular.otf);
}

.dosis {
    font-family: 'Dosis';
}

p {
    font-family: 'Dosis';
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo2';
    font-weight: 200;
}

a {
    font-family: 'Dosis', sans-serif;
    color: #19a333;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    color: #19a333;
    text-decoration: underline;
}

.sym {
    font-family: 'Symtext', 'SymtextIE', sans-serif;
}


.rwnorm {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}


.dosis {
    font-family: 'Dosis', sans-serif;
}

.exo2 {
    font-family: 'Exo2', sans-serif;
}

input {
    font-family: 'Exo2', sans-serif;
}

.rwthin {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.rwblack {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.exthin {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
}

.exblack {
    font-family: 'Exo2', sans-serif;
    font-weight: 900;
}