* {
    margin: 0;
    padding: 0;
}

/* gradient fallbacks taken from csstricks.com */
body {
    background-color: black;

    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image: -webkit-gradient(linear, left top, right top, from(#0f0f0f), to(#003366));

    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(left, #0f0f0f, #003366);

    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(left, #0f0f0f, #003366);

    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(left, #0f0f0f, #003366);

    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(to right, #0f0f0f, #003366);
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}


p {
    font-family: 'Dosis';
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
    font-weight: 200;
}


hr {
    border-color: #272727;
    padding-bottom: 25px;
}

.sym {
    font-family: 'Symtext', 'SymtextIE';
}

.hidden {
    display: none;
}

.button {
    background-color: transparent;
    padding: 5pt;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 18pt;
    text-align: center;

}

.button:hover {
    color: #f4d442;
    border-color: #f4d442;
    text-decoration: none;
    transform: scale(1.1);
    transition: 1000ms;
    cursor: pointer;
}

.page {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.middle {
    margin: 0 auto;
}

#wrapper {
    background: rgba(0, 0, 0, 0.75);
}

#space {
    height: 100vh;
    width: 100vw;
    background-color: none;
    position: static;
}

#title-text {
    padding-top: 150px;
    font-size: 100pt;
}

@media only screen and (max-width: 768px) {
    #title-text {
        font-size: 54pt;
    }
}

@media only screen and (max-width: 600px) {
    #title-text {
        font-size: 36pt;
    }
}

#start {

    background: none;
    border: none;
    color: white;
    font-family: Raleway;
    font-weight: 200;
    border: #fff;
    border: solid 1px;
    width: 250px;
    text-align: center;
    font-size: 24pt;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    top: 70%;
    left: calc(50% - 150px)
}

#start:hover {
    /* color: #0f0f0f;
    background-color: #f4d442; */
    transform: scale(1.1);
    transition: 1000ms;
    cursor: pointer;
    color: #f4d442;
    border-color: #f4d442;
}

#start:focus {
    outline: 0;
}


#navbar {
    background: #000000 !important;
}

#newBody {
    background-color: #0f0f0f;
}

#navbar #brandtitle {
    font-size: 24pt;
}

.rwthin {
    font-family: 'Raleway';
    font-weight: 200;
}

.rwblack {
    font-family: 'Raleway';
    font-weight: 900;
}

.floatRight {
    float: right;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}


.owl-carousel .owl-wrapper {
    display: flex !important;
}

.owl-carousel .owl-item .slide-img {
    width: 100%;
    margin: auto;
    height: 70vh;
    max-height: 900px;
    object-fit: cover;
    max-width: initial;
    animation: shiftBG 15s linear infinite;
    background-position: 0 0;
    position: relative;
}

@keyframes shiftBG {
    from {
        background-position: 0 0;
        background-size: 100%;
    }

    to {
        background-position: -300px -500px;
        background-size: 90%;
    }
}

.img-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
}

.img-overlay h3,
.img-overlay p {
    color: #ffffff;
}

.team-mem {
    position: relative;
    margin: auto;
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: 50%;
}

.team-mem h4 {
    text-align: center;
    color: white;
}

.team-mem p {

    color: grey;
}

.overlay {
    position: absolute;
    padding-top: 240px;
    height: 130px;
    width: 202px;
    transition: .5s ease;
}

.overlay div {
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.9);
}

.overlay p {
    height: 200px;
    text-align: center;
}

.overlay:hover {
    padding-top: 190px;
}

.sandles {
    background-image: url("../images/team/sandles.jpg");
}

.jess {
    background-image: url("../images/team/jess.jpg");
}

.chewy {
    background-image: url("../images/team/chewy.jpg");
}

.ian {
    background-image: url("../images/team/ian.jpg");
}

.james {
    background-image: url("../images/team/james.jpg");
}

.jamie {
    background-image: url("../images/team/jamie.jpg");
    background-position: -50px -50px;
}



/* Footer */

footer {
    width: 100%;
    border-top: solid 1px #272727;
    background-color: #000000 !important;
    color: #272727;
    padding: 10px 50px 10px 50px;
}

footer p {
    font-size: 12pt;
}

/*Blog Classes*/
.blog-post {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #272727;
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 700px;
}

.sm-blog-post {
    height: 50%;
}

.blog-title {
    position: absolute;
    background-color: white;
    color: #0f0f0f;
    bottom: 0;
    margin: 0 !important;
    padding: 10px;
    width: 100%;
}

@media(max-width: 768px) {

    .blog-post {
        margin-bottom: 50px !important;
        height: 500px;
    }

    .sm-blog-post {
        margin-bottom: 20px;
        height: 50%;
    }

    .blog-row-2 {
        min-height: 500px;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .blog-row-2 {
        min-height: 1000px;
        margin-bottom: 80px;
    }

}

/* TEST Classes */

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: #0f0f0f;
}

.white {
    background-color: white;
}

.padding20 {
    padding: 20px;
}

.margin20 {
    margin: 20px;
}

.height100 {
    height: 100%;
}

.height50 {
    height: 50%;
}

.width100 {
    width: 100%;
}

.text-black {
    color: #0f0f0f;
}